<a href="https://colab.research.google.com/github/Kiet2k2/Lab01/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [1]:
arr = [12,-4,7,9]

In [2]:
type(arr)

list

In [4]:
print(arr)

[12, -4, 7, 9]

In [5]:
arr[0]

12

In [6]:
import pandas as pd #alias
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [7]:
type(s)

pandas.core.series.Series

Example 2:

In [8]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [9]:
s2.values

array([12, -4,  7,  9])

In [10]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

DataFram

Example 3:

In [11]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}

In [12]:
type(data)

dict

In [13]:
frame = pd.DataFrame(data)

In [14]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [15]:
type(frame.color)

pandas.core.series.Series

In [16]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [17]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [18]:
type(data)

dict

Example 4:

In [19]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

Example 5: Tạo columns mới với 1 giá trị mặc định ban đầu

In [20]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [21]:
len(frame2)

5

In [22]:
frame2['price'][0]

1.2

Example 6: Thực hành hàm loc, iloc trong DataFrame

In [23]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

Example 7:

In [24]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034


Example 8:

In [25]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

Read data from csv file

Example 9: